/* global */
html{height: 100%;}

/*main body*/
body
{ font-family: "Helvetica", sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: .78em;
  background: #D6F8F8 url(back.png) center repeat-y;
  color: #000;
}

/* main container */
#main
{ width: 900px;
  margin: 0px auto 0 auto;
  color: #000;  
}

/* main container */
#main_logo
{ width: 900px;
  margin: 0px auto 0 auto;
  background: #DDDDDD; 
  color: #555;
}

/*logo*/
#logo
{ width: 860px;
  height: 250px;
  font-family: "Garamond", serif;
  background: #FFF url(logo.jpg) no-repeat;
  text-align: right;
  padding: 20px 20px 20px 20px;
  color: #0034F6;
}

/*images*/
img
{ border: 0px; 
  margin: 0px; 
  padding: 10px;
}

/* navigation menu */
#menubar
{ background: #686868 url(menu.png) repeat;
  width: 900px;
  margin: -10px auto 0 auto;
  height: 52px;
  border-left: 1px solid #80FFFF;
  border-right: 1px solid #80FFFF;
} 

/* unordered list */
ul
{ margin: 8px 0px 0px 16px;
  padding: 0px;
}

ul li
{ list-style-type: circle;
  margin: 0px 0px 11px 20px; 
  color: #195FFF;
  padding: 0px;
}

ul#menu{padding: 0;margin: 0px;}

ul#menu li
{ float: left; 
  margin: 0px 0px 0px 1px; 
  padding: 0px;
  list-style: none;
} 

ul#menu li a 
{ font-family: tahoma;
  text-align: center;
  display: block; 
  float: left; 
  height: 34px;
  text-decoration: none; 
  padding: 18px 0px 0px 0px;
  width: 178px;
  background: transparent;
  color: #FFF;
} 

ul#menu li a:hover, ul#menu li a.current, ul#menu li a.current:hover
{ background: transparent;
  color: #FFF;
  text-decoration:underline;
} 

p
{ margin: 0px;
  padding: 0px 0px 5px 15px;
  line-height: 1.5em;
}
#footer
{ width: 901px;
  height: 37px;
  padding: 14px 0px 0px 0px;
  position:relative;
  text-align: center; 
  float: left;
  background: #686868 url(footer.png) repeat;
  color: #FFF;
}  

#footer p
{
  padding: 0px 0px 2px 0px;
}

#footer a
{
  color:#FFF;
}

#footer a:hover
{
  color:#000;
}

h1, h2
{ font-family: tahoma, arial, sans-serif;
  font-size: 150%;
  letter-spacing: .1em;
  padding: 7px 0px 5px 0px; 
  margin: 0px 0px 12px 0px; 
  color: #000;
}

h3
{ font-family: helvetica;
  font-size: 110%;
  letter-spacing: .1em;
  padding: 9px 0px 5px 0px; 
  margin: 0px 0px 12px 0px; 
  color: #FFF;
}

h4
{ font-family: Garamond, serif;
  font-size: 110%;
  letter-spacing: .1em;
  padding: 9px 0px 5px 10px; 
  margin: 0px 0px 12px 0px; 
  color: #686868;
 }

.icon
{
  float: left;
  padding: 10px 0px 0px 0px;
  background: transparent;
  margin-left: 5px;
}

/* header_main content */
#header_main_content
{ font-family: tahoma;
  width: 550px;
  margin: 10px 0px 0px 5px;
  text-align: left;
  color: #555;
}

.header_main_banner
{ font-family: tahoma;
  width: 550px;
  height: 35px;
  margin: 15px 0px 0px 0px;
  text-align: center;
  float: left;
  background: url(header_main.png);
}

/* header content */
#header_content
{ font-family: tahoma;
  width: 550px;
  margin: 10px 0px 0px 5px;
  text-align: left;
  color: #000;
}

.header_banner
{ font-family: tahoma;
  width: 550px;
  height: 35px;
  margin: 15px 0px 0px 0px;
  text-align: center;
  float: left;
  background: url(header.png);
}

/* header content small */
#header_content_small
{ font-family: tahoma;
  width: 300px;
  margin: 10px 5px 0px 0px;
  text-align: left;
  color: #555;
}

.header_banner_small
{ font-family: tahoma;
  width: 300px;
  height: 35px;
  margin: 15px 0px 0px 10px;
  text-align: center;
  float: right;
  background: url(header_small.png);
}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #C0C0C0; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3681FE; 
  color: #FFF;}